body {
	background-color:#000;
}
.main {
	background-color:#FFF;
	min-width:1200px;
	height:550px;
	margin-top:170px;
	z-index:1;
	padding-left:100px;
	position:relative;
}
.ryu{
	float:left;
}


/*
*Class References*
	<div class="ryu-cool"></div>
				<div class="ryu-ready"></div>
				<div class="ryu-stand"></div>
				<div class="ryu-throwing"></div>
				<div class="hadouken"></div>
*/
.hadouken, .ryu-ready, .ryu-stand, .ryu-throwing{
	background-repeat:no-repeat;
}

.ryu-ready, .ryu-stand, .ryu-throwing{
	width:659px;
	height:494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
display:none;
}

.ryu-ready{
background-image: url('../images/ryu-ready-position.gif');
}

.ryu-stand{
background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing{
background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken{
background-image:url('../images/hadouken.gif');
width:160px;
height:97px;
display:none;
float:left;
position:absolute;
z-index:10;
top:305px;
left:520px;

}

.ryu-cool{
background-image:url('../images/ryu-cool.gif');
}
.text-content{
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

.sf-logo {
	background-image: url('../images/sf-logo.png');
	width: 682px;
	height: 314px;
	display: none;
}

.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 500px;
	height: 172px;
	display: none;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.brought-by, .how-to {
	display: none;
	color: red;
	font-family: comical;
	font-size: 50px;
	width: 600px;
}

.brought-by {
	text-align: center;
	margin-top: 100px;
}

.how-to {
}

.how-to p {
	width: 50%;
	color: black;
	font-size: 24px;
	line-height: 45px;
}

.how-to p + p {
	margin-left: 275px;
}

